{# Common Icons Import - DRY consolidation of icons used across all index templates #}

{# Import all common icons used across index templates #}
{% from "macros/base/icons.html" import 
    building_office_icon,
    user_icon,
    chevron_right_icon,
    check_circle_icon_solid,
    exclamation_triangle_icon,
    exclamation_circle_icon_solid,
    currency_dollar_icon,
    clipboard_list_icon,
    bolt_icon,
    fire_icon_solid,
    calendar_days_icon,
    calendar_icon,
    chart_bar_icon,
    question_mark_circle_icon,
    phone_icon,
    envelope_icon,
    clock_icon
%}

{# Export macro to make icons available to templates that import this file #}
{% macro export_common_icons() %}
{# This macro exists to establish the import context - icons are available once this file is imported #}
{% endmacro %}