{# Smart Entity Imports System - DRY consolidation with entity-specific customization #}

{# Import all common icons - make them available in current template context #}
{% from "macros/icons.html" import 
    building_office_icon,
    user_icon,
    chevron_right_icon,
    check_circle_icon_solid,
    exclamation_triangle_icon,
    exclamation_circle_icon_solid,
    currency_dollar_icon,
    clipboard_list_icon,
    bolt_icon,
    fire_icon_solid,
    calendar_days_icon,
    calendar_icon,
    chart_bar_icon,
    question_mark_circle_icon,
    phone_icon,
    envelope_icon,
    clock_icon
%}

{# Import all common UI elements #}
{% from "macros/ui_elements.html" import 
    expand_collapse_controls,
    generic_group_dropdown,
    generic_sort_dropdown,
    generic_filter_multiselect,
    dynamic_entity_section,
    bulk_actions_bar,
    enhanced_filter_controls,
    action_button,
    bulk_selection_checkbox,
    view_mode_toggle,
    dropdown_select,
    dropdown_multiselect
%}

{# Import page layout component #}
{% from "macros/page_template.html" import page_layout %}

{# 
Main macro to set up entity-specific imports for index templates
Usage: {{ setup_entity_imports('company') }}
#}
{% macro setup_entity_imports(entity_type) %}

{# Import entity-specific card renderers #}
{% if entity_type == 'company' %}
    {% from "macros/company_card.html" import render_company %}
{% elif entity_type == 'opportunity' %}
    {% from "macros/opportunity_card.html" import render_opportunity %}
    {% from "macros/quick_actions.html" import opportunities_page_actions %}
{% elif entity_type == 'contact' or entity_type == 'stakeholder' %}
    {% from "macros/stakeholder_card.html" import render_stakeholder %}
{% elif entity_type == 'task' %}
    {% from "macros/expandable_card.html" import 
        expandable_card, 
        task_header_content, 
        task_reschedule_buttons, 
        action_buttons_row,
        task_title_content,
        task_metadata_content %}
{% endif %}

{# Entity-specific additional imports can be added here as needed #}

{% endmacro %}

{# 
Macro to include common modals - called in scripts block
Usage: {{ include_common_modals() }}
#}
{% macro include_common_modals() %}
{% include "macros/imports/common_modals.html" %}
{% endmacro %}