{% from 'macros/modals/base.html' import htmx_modal_overlay, htmx_modal_header, htmx_modal_body, htmx_modal_footer %}
{# Icons now use dynamic CSS classes: icon-{entity_name} #}
{#
  Read-Only View Modal Template
  
  This template renders entity details in a read-only modal for viewing from global search.
  Works with ModalService for consistent modal behavior.
  
  Variables:
  - entity: Entity object to display
  - modal_title: Title for the modal
  - model_name: Name of the model being viewed
  - config: Configuration dict with field definitions
  - get_entity_icon_classes: Function to get entity icon classes
#}
{% call htmx_modal_overlay() %}
    {{ htmx_modal_header(modal_title, model_name) }}
    
    {% call htmx_modal_body() %}
            <div class="space-y-4">
                {% for field in config.fields %}
                    {% if field.type == 'text' %}
                        <div>
                            <label class="text-form-label">{{ field.label }}</label>
                            <div class="modal-field">
                                {{ entity[field.name] or '' }}
                            </div>
                        </div>
                    {% elif field.type == 'textarea' %}
                        <div>
                            <label class="text-form-label">{{ field.label }}</label>
                            <div class="modal-field" style="min-height: {{ (field.rows | default(3)) * 1.5 }}rem;">
                                {{ entity[field.name] or '' }}
                            </div>
                        </div>
                    {% elif field.type == 'select' %}
                        <div>
                            <label class="text-form-label">{{ field.label }}</label>
                            <div class="modal-field">
                                {% set current_value = entity[field.name] %}
                                {% for option in field.options %}
                                    {% if option.value == current_value %}
                                        {{ option.label if option is mapping else option|title }}
                                    {% endif %}
                                {% endfor %}
                                {% if not current_value %}
                                    <span class="text-gray-400">Not set</span>
                                {% endif %}
                            </div>
                        </div>
                    {% elif field.type == 'date' %}
                        <div>
                            <label class="text-form-label">{{ field.label }}</label>
                            <div class="modal-field">
                                {{ entity[field.name] or '' }}
                            </div>
                        </div>
                    {% elif field.type == 'grid' %}
                        <div class="modal-field-grid" style="grid-template-columns: repeat({{ field.columns | default(2) }}, 1fr);">
                            {% for subfield in field.fields %}
                                {% if subfield.type == 'text' %}
                                    <div>
                                        <label class="text-form-label">{{ subfield.label }}</label>
                                        <div class="modal-field">
                                            {{ entity[subfield.name] or '' }}
                                        </div>
                                    </div>
                                {% elif subfield.type == 'select' %}
                                    <div>
                                        <label class="text-form-label">{{ subfield.label }}</label>
                                        <div class="modal-field">
                                            {% set current_value = entity[subfield.name] %}
                                            {% for option in subfield.options %}
                                                {% if option.value == current_value %}
                                                    {{ option.label if option is mapping else option|title }}
                                                {% endif %}
                                            {% endfor %}
                                            {% if not current_value %}
                                                <span class="text-gray-400">Not set</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% elif subfield.type == 'date' %}
                                    <div>
                                        <label class="text-form-label">{{ subfield.label }}</label>
                                        <div class="modal-field">
                                            {{ entity[subfield.name] or '' }}
                                        </div>
                                    </div>
                                {% elif subfield.type == 'number' %}
                                    <div>
                                        <label class="text-form-label">{{ subfield.label }}</label>
                                        <div class="modal-field">
                                            {{ entity[subfield.name] or '' }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% elif field.type == 'number' %}
                        <div>
                            <label class="text-form-label">{{ field.label }}</label>
                            <div class="modal-field">
                                {{ entity[field.name] or '' }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    {% endcall %}
    
    {% call htmx_modal_footer(classes="flex justify-end p-6 border-t bg-gray-50") %}
        <button data-action="close-modal"
                class="btn-secondary">
            Close
        </button>
    {% endcall %}
{% endcall %}