{# Navigation Bar #}
{% from 'macros/components.html' import search_widget %}

<nav class="navbar">
    <div class="navbar-inner">
        <div class="navbar-brand">
            <a href="{{ url_for('dashboard.index') }}">CRM</a>
        </div>

        <div class="navbar-menu">
            <a href="{{ url_for('entities.companies_index') }}" class="navbar-item {{ 'active' if request.endpoint == 'entities.companies_index' }}">
                Companies
            </a>
            <a href="{{ url_for('entities.stakeholders_index') }}" class="navbar-item {{ 'active' if request.endpoint == 'entities.stakeholders_index' }}">
                Stakeholders
            </a>
            <a href="{{ url_for('entities.opportunities_index') }}" class="navbar-item {{ 'active' if request.endpoint == 'entities.opportunities_index' }}">
                Opportunities
            </a>
            <a href="{{ url_for('entities.tasks_index') }}" class="navbar-item {{ 'active' if request.endpoint == 'entities.tasks_index' }}">
                Tasks
            </a>
            <a href="{{ url_for('entities.users_index') }}" class="navbar-item {{ 'active' if request.endpoint == 'entities.users_index' }}">
                Account Teams
            </a>
        </div>

        <div class="navbar-search">
            {{ search_widget(placeholder='Search...', id='global-search') }}
        </div>
    </div>
</nav>