<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base/includes/head.html' %}
</head>
<body>
    {% include 'base/includes/navbar.html' %}

    <main class="main-container">
        {% block content %}{% endblock %}
    </main>

    {% block modals %}{% endblock %}

    {# Global Modals #}
    {% include 'components/modals/advanced_search_modal.html' %}

    {# Chat Widget #}
    {% include 'components/chat/widget.html' %}

    {# Application JavaScript #}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>