{% extends "base/entity_index.html" %}

{# Entity-specific imports #}
{% block entity_imports %}
{% from "components/expandable_card.html" import company_header_content, company_title_content, company_metadata_content, action_buttons_row %}
{% endblock %}

{% block entity_config %}
{% set entity_name = "Companies" %}
{% set entity_description = "Manage your company relationships" %}
{% set entity_type = "company" %}

{% set entity_stats = {
    'title': 'Company Overview',
    'stats': [
        {
            'value': companies|length,
            'label': 'Total Companies',
            'color_class': 'text-blue-600'
        },
        {
            'value': companies|selectattr('industry')|list|length,
            'label': 'With Industry',
            'color_class': 'text-green-600'
        },
        {
            'value': companies|map(attribute='contacts')|map('length')|sum if companies|selectattr('contacts')|list else 0,
            'label': 'Total Stakeholders',
            'color_class': 'text-purple-600'
        },
        {
            'value': companies|map(attribute='opportunities')|map('length')|sum if companies|selectattr('opportunities')|list else 0,
            'label': 'Total Opportunities',
            'color_class': 'text-yellow-600'
        }
    ]
} %}

{% set entity_buttons = [
    {
        'label': 'New Company',
        'onclick': 'openNewCompanyModal()',
        'color': 'blue',
        'icon': ''
    }
] %}

{% set entity_filter_controls %}
{{ enhanced_filter_controls(
    group_options=get_groupable_fields(Company),
    sort_options=get_sortable_fields(Company),
    show_completed_label='Show All',
    show_completed_name='show_all',
    primary_filter_options=get_field_options(Company, 'industry'),
    primary_filter_label='All Industries'
) }}
{% endset %}
{% endblock %}

{% block entity_cards %}
{% for company in companies %}
    <div id="company-card-{{ company.id }}">
        {{ expandable_card('company', company, company.id,
            expansion_enabled=true,
            badge_content=company_header_content(company),
            title_content=company_title_content(company),
            metadata_content=company_metadata_content(company),
            action_buttons=action_buttons_row('company', company.id)) }}
    </div>
{% endfor %}
{% endblock %}

{% block entity_data_attributes %}
data-companies="{{ companies_data | tojson | forceescape }}"
data-contacts="{{ contacts | tojson | forceescape }}"
data-opportunities="{{ opportunities | tojson | forceescape }}"
{% endblock %}

{% block entity_scripts %}
<script src="{{ url_for('static', filename='js/entities/companies.js') }}"></script>
{% endblock %}