{# Common Modals Import - DRY consolidation of modal includes used across all index templates #}

{# 
This file consolidates all the modal includes that are repeated across index templates.
These modals are included in the scripts block of each index template.
#}

{# Confirmation Modal #}
{% include "components/modals/confirmation.html" %}

{# Task Modals #}
{% include "components/modals/task/task_detail.html" %}
{% include "components/modals/task/task_new.html" %}

{# Contact/Stakeholder Modals #}
{% include "components/modals/stakeholder/stakeholder_detail.html" %}
{% include "components/modals/stakeholder/stakeholder_new.html" %}

{# Company Modals #}
{% include "components/modals/company/company_detail.html" %}
{% include "components/modals/company/company_new.html" %}

{# Opportunity Modals #}
{% include "components/modals/opportunity/opportunity_detail.html" %}
{% include "components/modals/opportunity/opportunity_new.html" %}